@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: InterBold;
  src: url(../public/fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: InterRegular;
  src: url(../public/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: InterMedium;
  src: url(../public/fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: InterSemiBold;
  src: url(../public/fonts/Inter-SemiBold.ttf);
}

h1 {
  font-family: interBold;
}

h2 {
  font-family: interSemiBold;
}

header {
  max-width: none !important;
  padding: 0 !important;
}
